In [45]:
import pandas as pd
import kagglehub
import numpy as np
import kaggle

In [46]:
import os
import kagglehub

# Download latest version
if not os.path.exists(r"C:\Users\Andrei\.cache\kagglehub\datasets\ferhatucar\cars1-dataset\versions\1\cars1.csv"):
    path1 = kagglehub.dataset_download("ferhatucar/cars1-dataset")
    path2 = kagglehub.dataset_download("ferhatucar/cars2-dataset")
    path1=path1+"\\cars1.csv"
    path2=path2+"\\cars2.csv"

print("Path to dataset files:", path1)
print("Path to dataset files:", path2)

Path to dataset files: C:\Users\Andrei\.cache\kagglehub\datasets\ferhatucar\cars1-dataset\versions\1\cars1.csv
Path to dataset files: C:\Users\Andrei\.cache\kagglehub\datasets\ferhatucar\cars2-dataset\versions\1\cars2.csv

In [47]:
cars1=pd.read_csv(path1,engine="python",on_bad_lines="warn")
cars2=pd.read_csv(path2,engine="python",on_bad_lines="warn")

In [119]:
cars1.to_csv("cars1.csv",index=False)
cars2.to_csv("cars2.csv",index=False)
print(cars1.columns)
print(cars2.columns)
carsMerged=pd.merge(cars1,cars2,on="car")
# Assuming carsMerged is your DataFrame
carsMerged = carsMerged.loc[:, ~carsMerged.columns.str.startswith('Unnamed')]


carsMerged.to_csv("carsFinal.csv",index=False)

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')
Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

In [118]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR'],
                    'nickname':['bobita','cainele','mona lisa','avocatul2']})
df2 = pd.DataFrame({'employee': ['Bob', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014],
                    'nickname':['bobita','cainele','mona lisa','avocatu']})
df3=pd.merge(df1,df2,on="employee",how="inner")
print(df3.head())

  employee_x        group   nickname employee_y  hire_date
0        Bob   Accounting     bobita        Bob       2004
1       Jake  Engineering    cainele        Bob       2008
2       Lisa  Engineering  mona lisa       Jake       2012

In [66]:
df2.head()

  employee  hire_date
0      Bob       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [70]:
print(pd.merge(df1,df2,how="inner",on="employee"))

  employee        group nickname_x  hire_date nickname_y
0      Bob   Accounting     bobita       2004     bobita
1      Bob   Accounting     bobita       2008    cainele
2     Jake  Engineering    cainele       2012  mona lisa
3      Sue           HR  avocatul2       2014    avocatu

In [75]:
animale=pd.read_csv("animale.csv")
proprietari=pd.read_csv("proprietari.csv")
joburi=pd.read_csv("locuriDemunca.csv")

proprietariSiAnimale=pd.merge(animale,proprietari,left_on="posesor",right_on="numeProprietar",how="inner")
proprietariSiAnimale.drop(columns="posesor",axis=1)
proprietariSiAnimale.to_csv("animale&proprietari.csv",index=False)

In [81]:
from fuzzywuzzy import fuzz

names = ["robi", "robert", "mariana","robica","marin"]
scores={}

# Compare each pair of names
for i in names:
    score=0
    for j in names:
        if i!=j:
            score=score+fuzz.ratio(i,j)
    scores[i]=score
print(scores)

{'robi': 220, 'robers': 143, 'mariana': 149, 'robica': 212, 'marin': 163}

In [90]:
import pandas as pd

# DataFrames A, B, and C
A = pd.DataFrame({'id': ['1', '2', '3', '4', '5'],
                  'name': ['robert', 'mariana', 'jhon', 'bogdan', 'alex'],
                  'occupation': ['constructor', 'witch', 'buldozer', 'pirate', 'doctor']})

B = pd.DataFrame({'id': ['1', '2', '3', '4', '5'],
                  'name': ['dragos', 'muntean', 'palavra', 'javra', 'caine'],
                  'age': ['19', '22', '66', '23', '55']})

C = pd.DataFrame({'id': ['1', '2', '3', '4', '5'],
                  'name': ['robi', 'munte', 'pala', 'juva', 'catel'],
                  'timeLeft': ['30', '28', '36', '5', '100']})

# Merging all three with suffixes to indicate conflicts
ABC = pd.merge(pd.merge(A, B, on="id", how="inner", suffixes=('_A', '_B')), 
               C, on="id", how="inner", suffixes=('', '_C'))

# Find columns with conflicts (those with suffixes)
conflict_columns = [col for col in ABC.columns if '_A' in col or '_B' in col or '_C' in col]

# Print the columns that have conflicts
print("Conflict columns:", conflict_columns)

# Print the DataFrame to observe
print(ABC.head())

Conflict columns: ['name_A', 'name_B']
  id   name_A   occupation   name_B age   name timeLeft
0  1   robert  constructor   dragos  19   robi       30
1  2  mariana        witch  muntean  22  munte       28
2  3     jhon     buldozer  palavra  66   pala       36
3  4   bogdan       pirate    javra  23   juva        5
4  5     alex       doctor    caine  55  catel      100

In [137]:
import pandas as pd
from fuzzywuzzy import fuzz

# DataFrames A, B, and C
A = pd.DataFrame({'id': ['1', '2', '3', '4', '5', '6'],
                  'name': ['robert', 'mariana', 'jhon', 'bogdan', 'alex', '9'],
                  'occupation': ['constructor', 'witch', 'buldozer', 'pirate', 'doctor', '5']})

B = pd.DataFrame({'id': ['1', '2', '3', '4', '5', '6'],
                  'name': ['dragos', 'muntean', 'palavra', 'javra', 'caine', '10'],
                  'age': ['19', '22', '66', '23', '55', '']})

C = pd.DataFrame({'id': ['1', '2', '3', '4', '5', '6'],
                  'name': ['robert', 'munte', 'pala', 'juva', 'catel', '19'],
                  'timeLeft': ['30', '28', '36', '5', '100', '12']})

# Merge A and B
AB = pd.merge(A, B, how="inner", on="id")
for index, record in AB.iterrows():
    AB.at[index, "name"] = str(AB.at[index, "name_x"]) + "," + str(AB.at[index, "name_y"])
AB.drop(columns=["name_x", "name_y"], inplace=True)

# Merge AB with C
ABC = pd.merge(AB, C, how='inner', on="id")
for index, record in ABC.iterrows():
    ABC.at[index, "name"] = str(ABC.at[index, "name_x"]) + "," + str(ABC.at[index, "name_y"])
ABC.drop(columns=["name_y","name_x"], inplace=True)

print(ABC)
# Process to compute similarity scores and pick the name with the highest score
for index, record in ABC.iterrows():
    names = ABC.at[index, "name"].split(',')  # Split the concatenated names
    scores = []
    
    # Calculate similarity scores for each name against the others
    for i in range(len(names)):
        score = 0
        for j in range(len(names)):
            if i != j:
                score += fuzz.ratio(names[i], names[j])
        scores.append(score)

    # Find the name with the highest score and assign it back to ABC['name']
    max_score_index = scores.index(max(scores))
    ABC.at[index, "name"] = names[max_score_index]

# Print the final ABC DataFrame
print(ABC)

  id   occupation age timeLeft                   name
0  1  constructor  19       30   robert,dragos,robert
1  2        witch  22       28  mariana,muntean,munte
2  3     buldozer  66       36      jhon,palavra,pala
3  4       pirate  23        5      bogdan,javra,juva
4  5       doctor  55      100       alex,caine,catel
5  6            5           12                9,10,19
  id   occupation age timeLeft     name
0  1  constructor  19       30   robert
1  2        witch  22       28  muntean
2  3     buldozer  66       36  palavra
3  4       pirate  23        5     juva
4  5       doctor  55      100    caine
5  6            5           12       19